General;{GENERAL}Filename:%FileName%|Format:%Format%|Format/Info:%Format/Info%|FileSize:%FileSize%|Duration:%Duration%~
Video;{VIDEO}Format:%Format%|Format/Info:%Format/Info%|Format_Profile:%Format_Profile%|CodecID:%CodecID%|CodecID/Hint:%CodecID/Hint%|Duration:%Duration%|BitRate_Mode:%BitRate_Mode%|BitRate:%BitRate%|BitRate_Minimum:%BitRate_Minimum%|BitRate_Nominal:%BitRate_Nominal%|BitRate_Maximum:%BitRate_Maximum%|Width:%Width%|Height:%Height%|PixelAspectRatio:%PixelAspectRatio%|DisplayAspectRadio:%DisplayAspectRadio%|DisplayAspectRatio/String:%DisplayAspectRatio/String%|FrameRate_Mode:%FrameRate_Mode%|FrameCount:%FrameCount%|Standard:%Standard%|Resolution/String:%Resolution/String%|Resolution:%Resolution%|Colorimetry:%Colorimetry%|ScanType:%ScanType%|StreamSize:%StreamSize%|Language:%Language%|Language/String:%Language/String%~|MenuID/String:%MenuID/String%|MenuID:%MenuID%|Title:|%Title%MultiView_Count:%MultiView_Count%|MultiView_Layout:%MultiView_Layout%|MultiView_BaseProfile:%MultiView_BaseProfile%|Count:%Count%
Audio;{AUDIO}Format:%Format%|Format/Info:%Format/Info%|CodecID:%CodecID%|CodecID/Hint:%CodecID/Hint%|Duration:%Duration%|BitRate_Mode:%BitRate_Mode%|BitRate:%BitRate%|Channel(s):%Channel(s)%|ChannelPositions:%ChannelPositions%|ChannelLayout:%ChannelLayout%|SamplingRate:%SamplingRate%|StreamSize:%StreamSize%~|Forced:%Forced%|Forced/String:%Forced/String%|Language:%Language%|Language/String:%Language/String%
Menu;{MENU}Format:%Format%
Chapters;{CHAPTERS}Total:%Total%|StreamKindID:%StreamKindID%
Text;{TEXT}StreamKindID:%StreamKindID%|Language:%Language%