General;Filename:%FileName%|Format:%Format%|Format/Info:%Format/Info%|FileSize:%FileSize%|Duration:%Duration%~
Video;Format:%Format%|Format/Info:%Format/Info%|Format_Profile:%Format_Profile%|CodecID:%CodecID%|CodecID/Hint:%CodecID/Hint%|Duration:%Duration%|BitRate_Mode:%BitRate_Mode%|BitRate:%BitRate%|BitRate_Minimum:%BitRate_Minimum%|BitRate_Nominal:%BitRate_Nominal%|BitRate_Maximum:%BitRate_Maximum%|Width:%Width%|Height:%Height%|PixelAspectRatio:%PixelAspectRatio%|DisplayAspectRadio:%DisplayAspectRadio%|DisplayAspectRatio/String:%DisplayAspectRatio/String%|FrameRate_Mode:%FrameRate_Mode%|FrameCount:%FrameCount%|Standard:%Standard%|Colorimetry:%Colorimetry%|ScanType:%ScanType%|StreamSize:%StreamSize%|Language/String:%Language/String%~
Audio;Format:%Format%|Format/Info:%Format/Info%|CodecID:%CodecID%|CodecID/Hint:%CodecID/Hint%|Duration:%Duration%|BitRate_Mode:%BitRate_Mode%|BitRate:%BitRate%|Channel(s):%Channel(s)%|ChannelPositions:%ChannelPositions%|SamplingRate:%SamplingRate%|StreamSize:%StreamSize%~
Menu;Format:%Format%