h2, h3, h4, h5											{margin:0;}

#contentContainer										{padding:10px; border-top: 20px solid #000000; border-left: 1px solid #000; 
															-webkit-box-shadow: 0 5px 5px #333;
											        		   -moz-box-shadow: 0 5px 5px #333;
											        		        box-shadow: 0 5px 5px #333;
                										}

#contentContainer .tableHeader							{height:20px; line-height:20px; text-transform:capitalize; text-align:left; color:#ffffff; background-color:#000000; text-indent:10px; font-size:0.83em}
#contentContainer table									{width:100%;}
#contentContainer table tr								{border-bottom:1px solid #000;}
#contentContainer table tr.odd							{background-color:#eee;}
#contentContainer table tr th							{background: none repeat scroll 0 0 #888888; color:#fff; text-align:left; padding-left: 10px; width:50%;}
#contentContainer table tr td							{padding-left: 10px; width:50%; vertical-align:top;}
#contentContainer nav									{float:none; width:auto;}
#contentContainer nav ul li								{display:inline-block; white-space:nowrap;}
#contentContainer nav a									{padding:5px 10px;; font-size:12px; float:none; width:auto;}

#contentContainer .contentPart							{margin-bottom:20px;}

									
#detailView .listWrapper								{width:100%; clear:both; display:inline-block;}
#detailView .listWrapper .key							{float:left; width: 25%; font-weight:bold;}
#detailView .listWrapper .value							{float:left;}

#detailView .path										{font-size:0.8em;}

#detailView #attributes									{margin-top:20px; display:inline-block; width:100%;}
#detailView #attributes nav								{margin-bottom:20px;}
#detailView #attributes .infoSection					{margin-bottom:20px;}
#detailView #attributes .infoSection .sectionSection	{margin-bottom:10px;}


#controlView #statusArea								{color:#fff; background-color:#888; font-family:console; padding:5px; border:1px solid #000; margin-bottom:20px;}
#controlView #statusArea p								{margin:0.5em 0;}


#searchresultsView .searchResultCount					{font-weight:bold;}
#searchresultsView .searchTerm,
#searchresultsView .searchKey,
#searchresultsView .searchValue							{font-style:italic; font-weight:bold;}
