header 											{background:transparent none no-repeat center center; background-attachment: fixed; 
															-webkit-background-size: cover; 
															-moz-background-size: cover; 
															-o-background-size: cover; 
															background-size: cover; 
											}

a											{color:#000000;}
a:visited										{color:#303030;}
a:hover											{color:#505050;}

table tr:nth-child(2n+1)								{background-color:#B3D4FC;}
table tr:hover										{background-color:#cccccc;}

h1, h2, h3, h4, h5									{text-shadow:#333333 3px 3px 5px;}
h2, h3, h4, h5										{margin:0; clear:both;}

h2											{margin:15px 0;}
h3											{margin-top:15px;}

hr											{clear:left; float:left; padding: 10px 0; width:100%;}

.main aside										{margin-bottom:20px; clear:right;}
table.defaultTable								{table-layout:fixed;}

#contentContainer									{padding:10px; border-top: 20px solid #000000; border-left: 1px solid #000; margin-bottom:20px; 
															-webkit-box-shadow: 0 5px 5px #333;
											        		   -moz-box-shadow: 0 5px 5px #333;
											        		        box-shadow: 0 5px 5px #333;
                									}

#titleBox 										{width:100%;}
#titleBox .subTitle									{color:#fff; width:100%;}

.header-container nav 									{width:100%; clear:left;}
.header-container nav a 								{width:auto; height:30px; padding-top:5px; padding-bottom:5px;}
.main-container #searchForm 								{width:57%; margin-bottom:10px;}
.main-container #searchForm title 							{float:left; width:9%; display:block;}
.main-container #searchForm input 							{width:90%;}

#contentContainer .resulttable 								{overflow:hidden;}
#contentContainer .tableHeader								{height:20px; line-height:20px; text-transform:capitalize; text-align:left; color:#ffffff; background-color:#000000; text-indent:10px; font-size:0.83em}
#contentContainer table									{width:100%;overflow:hidden;}
#contentContainer table tr								{border-bottom:1px solid #000;}
#contentContainer table tr th								{background: none repeat scroll 0 0 #888888; color:#fff; text-align:left; text-indent:10px;}
#contentContainer table tr td								{padding: 0 10px; vertical-align:top;}
#contentContainer nav									{float:none; width:auto;}
#contentContainer nav ul li								{display:inline-block; white-space:nowrap;}
#contentContainer nav a									{padding:5px 10px; font-size:12px; float:none; width:auto; border-top:2px solid #000000;}
/** TODO SET TO ACTIVE IF ACTIVE **/
#contentContainer nav a.active								{border-top:2px solid #ffffff;}

#contentContainer .contentPart								{margin-bottom:20px; width:100%;}

#detailView #fileInformation								{float:left;}
#detailView #path									{font-size:0.8em;}
#detailView .listWrapper								{width:100%; clear:both; display:inline-block;}
#detailView .listWrapper .key								{float:left; width: 25%; font-weight:bold;}
#detailView .listWrapper .value								{float:left;}
#detailView .posterImage								{width:150px; float:right; border: 2px ridge #888; padding:7px; background-color:#000;}
#detailView .gallery									{float:left; margin-top:10px; width:70%;}
#detailView .gallery ul									{list-style:none; padding:0;}
#detailView .gallery ul li 								{float:left; margin:10px; padding:5px; border: 2px ridge #888; background-color:#000;}
#detailView .gallery ul li img							{max-width:100%;}

#detailView #tagList ul 								{font-size:12px; list-style:none; margin:0; padding:0;}
#detailView #tagList ul li								{float:left; border:1px solid #49B3FF; margin:5px 5px 0 0; padding:5px;}
#detailView #tagList ul li:hover span.tagTitle			{font-weight:bold;}
#detailView #tagList ul li:hover span.removeTag 		{display:block;}
#detailView #tagList ul li span.removeTag 				{display:none; clear:both; text-align:center; background-color:#49B3FF; padding:0 5px;}
#detailView #tagList ul li span.removeTag a				{color:#fff;}

#detailView #attributes									{margin-top:20px; display:inline-block; width:100%;}
#detailView #attributes nav								{margin-bottom:20px;}
#detailView #attributes .infoSection							{margin-bottom:20px;}
#detailView #attributes .infoSection .sectionSection					{margin-bottom:10px;}


#controlView #statusArea								{color:#fff; background-color:#888; font-family:console; padding:5px; border:1px solid #000; margin:20px 0;}
#controlView #statusArea p								{margin:0.5em 0;}

#controlView nav ul a.disabled 								{color:#888888;}

#searchresultsView .searchResultCount							{font-weight:bold;}
#searchresultsView .searchTerm,
#searchresultsView .searchKey,
#searchresultsView .searchValue								{font-style:italic; font-weight:bold;}

#infoView .infoListEntry								{text-transform:capitalize;}

.lastfivePartial ul 									{padding-left:0;}

#browseView	ul.keyList								{display:inline-block; padding:0; list-style:none;}
#browseView	ul.keyList li								{float:left; background-color:#000000; color:#ffffff; margin:0 5px; padding:0 5px; border-top:2px solid #000000;}
#browseView	ul.keyList li.active							{border-top:2px solid #888888; font-weight:bold;}
#browseView	ul.keyList li a								{color:#ffffff; text-decoration:none;}
#browseView	ul.keyList li:hover							{cursor:pointer;}
#browseView	ul.keyList li:hover a							{text-decoration:underline;}
#browseView .noInformationCounter 							{font-weight:bold;}
#browseView .browseFileTable								{display:none;}

#allView table a 									{width:250px; display:block;}

#settingsView table tr td select					{width:100%;}

#moviesView table.defaultTable .hideS,
#seriesView table.defaultTable .hideS				{width:95px;}



input[type=text],
input[type=password]									{height:20px; line-height:20px; border:1px solid #49B3FF; text-indent:5px; font-size:12px;}
select													{height:24px; line-height:24px; border:1px solid #49B3FF; font-size:12px; padding:2px 0;}

/** Media Queries **/
@media only screen and (max-width:479px){
	.defaultTable th.hideXS,
	.defaultTable td.hideXS {
		display:none;
	}
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
	.defaultTable th.hideS,
	.defaultTable td.hideS {
		display:none;
	}
}

@media only screen and (min-width: 1024px) {
}